.wrapper{
    position: relative;
    margin:0 auto;
    max-width: 1170px;
    height:100%;
}

header{
    padding:40px 0 30px 0;
    border-bottom: 1px solid;
    border-color: hsla(0, 0%, 100%, .3);
}

footer{
    padding:30px 0;
    background-color: #313131;
    color: #ffffff;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}